/*Universal Selector*/
*{
    box-sizing: border-box;
}

/*Class Selector*/
/*style button*/
.btn{
    display: block;
    padding: 5px;
    margin: 12px;
    width: 29%;
}
    

.city-group{
    margin-right: 50px;
}


